
<form class= 'rateform' method ='POST' action = '/<%=@too.id%>/rate'>
	<input type="hidden" name="_method" value='PUT'>	
	<input type="hidden" name="rating" value='1'>	
	<input class= 'rate' type="submit" value=&#9734>
</form>

<form class= 'rateform' method ='POST' action = '/<%=@too.id%>/rate'>
	<input type="hidden" name="_method" value='PUT'>
	<input type="hidden" name="rating" value='2'>	
	<input class= 'rate' type="submit" value=&#9734>
</form>

<form class= 'rateform' method ='POST' action = '/<%=@too.id%>/rate'>
	<input type="hidden" name="_method" value='PUT'>
	<input type="hidden" name="rating" value='3'>	
	<input class= 'rate' type="submit" value=&#9734>
</form>

<form class= 'rateform' method ='POST' action = '/<%=@too.id%>/rate'>
	<input type="hidden" name="_method" value='PUT'>
	<input type="hidden" name="rating" value='4'>	
	<input class= 'rate' type="submit" value=&#9734>
</form>

<form class= 'rateform' method ='POST' action = '/<%=@too.id%>/rate'>
	<input type="hidden" name="_method" value='PUT'>
	<input type="hidden" name="rating" value='5'>	
	<input class= 'rate' type="submit" value=&#9734>
</form>