<section class='show'>	
		<img class ='toos' src='<%=@too.too_file%>'>							
</section>
<div id='info'>
	<div class ='tooName info'>
		By &nbsp <%=@too.tooder %>
	</div>

	<div class = 'info'>
		<h4> &#9889 <%= @too.rated ? "#{@too.rated}%" : 'Rate it first' %></h4>
	</div>
 
	<div id='rateform' class = 'info'>		
		<%= erb :'partials/rating' if $voted != true%>

	</div>

	

	<!-- <div class = 'info'>
		<a href="/<%= @too.id %>/edit">edit</a>
	</div> -->

</div>
<section class='show'>	
	<a href="/"><img class ='toos' src='<%=$do_it%>'></a> 		
</section>
<div>
  	<div class = 'delete'>
			<form method = 'POST' action = '/<%=params[:id]%>'>
			<input type="hidden" name="_method" value= 'DELETE'>
			<input class="password" type="text" name="password" placeholder="password">
			<input type="submit" name="Delete" value='Remove'>
		</form>
	</div>
</div>


		<!-- <a href="/<%= @too.id %>/rate-edit">RATE &#9734</a>
 -->