<h1><%= @too.tooder %></h1>
<p><%= @too.date %></p>
<a href="<%=@too.too_file%>"><img src='<%=@too.too_file%>'></a>
<a href="/<%= @too.id %>/edit">edit</a>
<form method = 'POST' action = '/<%=params[:id]%>'>
	<input type="hidden" name="_method" value= 'DELETE'>
	<input type="submit" name="Delete" value='Remove'>
</form>